:root {
    --dev1: #F44;
    --dev2: #4F4;
    --dev3: #44F;
    --backlayer: #EEE;
    --backlayertrans: rgba(238, 238, 238, 0.7);
    --font: #000;
    --accent1: #000;
    --accent2: #000;
    --boxshadow: rgba(0, 0, 0, 0.3);
    --base1: #FFFFFF;
}