:root {
    --dev1: #F44;
    --dev2: #4F4;
    --dev3: #44F;
    --backlayer: #00fff5;
    --backlayertrans: rgba(0, 255, 245, 0.7);
    --font: #0029ff;
    --accent1: #006aa3;
    --accent2: #0034a3;
    --boxshadow: rgba(0, 0, 0, 0.3);
    --base1: #6a9c9a;
}