:root {
    --cb-size: 6.5vh;
    --cbrange-len: 20vh;
    --cbrange-fat: 2vh;
}

/*GENERAL SETTINGS*/
p {
    font-size: 1.5em;
}
h4 {
    font-size: 1.8em;
    font-family: 'Azeret Mono', monospace;
    font-weight: 600;
}
button {
    background: rgba(0,0,0,0);
}
body {
    position: fixed;
    background: var(--backlayer);
    margin: 0;
    padding: 0;
    overflow: hidden;

    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
}
#screenbar {
    display: flex;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
}
input[type=text], input[type=number] {
    font-size: 1em;
    -webkit-appearance: none;
    padding: 4px;
    transition: 0.15s;
    appearance: none;
    border-radius: 0;
    border: none;
    background: none;
    color: var(--font);
}
input[type=text]:focus, input[type=number]:focus {
    outline: none;
    border-bottom: 2px solid var(--accent1);
}

/*LIST-SCREEN*/
#listScreen {
    height: 100vh;
    width: 100vw;
    background: var(--backlayer);
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.6s;
}
#ltitle {
    font-family: 'Azeret Mono', monospace;
    font-weight: 600;
    font-size: 4em;
    text-align: left;
    color: var(--font);
    margin: 0;
}
#searchv {
    height: 2em;
    -webkit-appearance: none;
    max-width: 40vw;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 4px;
    transition: 0.15s;
    appearance: none;
    border-radius: 0;
    border: none;
    background: none;
}
#searchv:focus {
    outline: none;
    border-bottom: 2px solid var(--accent1);
}
#header {
    padding: 0;
    margin: 2.6vw 0 3vw 0;
    width: calc(100% - 10vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#songlist {
    /*background: var(--dev1);*/
    height: calc(100% - 10vw);
    width: calc(100% - 10vw);
    margin: 0 5vw 5vw 5vw;
    overflow: scroll;
}
.songnode {
    padding: 1em;
    border-left: 1px solid var(--accent1);
    border-top: 1px solid var(--accent1);
    border-radius: 10px 0 0 0;
    margin-bottom: 1em;
}
.listbutton {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    text-align: left;
    width: 100%;
    color: var(--font);
}
.song-title {
    font-size: 1.6em;
    margin: 0 0 0.1em 0;
    font-family: 'Raleway', sans-serif;
}
.song-author {
    font-size: 1em;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
#listbutbar {
    margin-bottom: 3vh;
}

/*CHORD-SCREEN: GENERAL*/
#chordScreen {
    height: 100vh;
    width: 100vw;
    background: var(--backlayer);
    left: 100vw;
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.6s;
    /*display: flex;
    justify-content: center;*/
    display: block;
}
#scrollingchords {
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--backlayer);
    transition: 0.6s;
}
#sbody {
    max-width: inherit;
}
#shead {
    width: 100%;
    text-align: left;
    float: left;
}
#stitle {
    font-family: 'Azaret Mono', monospace;
    font-size: 2.5em;
    color: var(--font);
    margin: 2.2em 0 0 0;
}
#saltt {
    font-family: 'Azaret Mono', monospace;
    font-size: 1.5em;
    color: var(--font);
    margin: 0;
}
#sauth {
    font-family: 'Azaret Mono', monospace;
    font-size: 1.5em;
    color: var(--font);
    margin: 0;
}
#skey {
    font-family: 'Azaret Mono', monospace;
    font-size: 1em;
    margin: 1.5em 0 0 0;
    color: var(--font);
}
#scapo {
    font-family: 'Azaret Mono', monospace;
    font-size: 1em;
    margin: 0;
    color: var(--font);
}

/*CHORD-SCREEN: SONG*/
.ptitle {
    font-family: 'Azaret Mono', monospace;
    color: var(--font);
    margin: 0 0 0.5em 0;
}
.ppart {
    margin: 3.5em 0;
    display: flex;
    flex-direction: column;
    width: inherit;
}
.pline {
    width: inherit;
    margin-top: 0.8em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.microblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*margin-left: 6px;*/
    height: 4em;
}
.spacebehind {
    margin-right: 6px;
}
.spacebefore {
    padding-left: 6px;
}
.chord {
    font-family: 'Azeret Mono', monospace;
    font-weight: 600;
    margin: 0 10px 0 0;
    color: var(--accent1);
}
.microtext {
    margin: 0;
    color: var(--font);
    font-family: 'Raleway', sans-serif;
}
.comment {
    font-style: italic;
    color: var(--accent2);
}
.commentChord {
    font-family: 'Azeret Mono', monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8em;
}
.tab {
    font-family: 'Azeret Mono', monospace;
    font-weight: 250;
    margin: 0;
    color: var(--font);
}
.emline {
    height: 0.8em;
}

/*CHORD-SCREEN BUTTONS*/
.chordbutton {
    margin: 3vh 0 0 3vh;
    width: var(--cb-size);
    height: var(--cb-size);
    border-radius: calc(var(--cb-size)*0.5);
    border: none;
    box-shadow: 0 0 10px var(--boxshadow);
    font-family: "Azeret Mono", monospace;
    font-weight: 600;
    color: var(--accent1);
    text-align: center;
    background: var(--backlayertrans);
    padding: 0;
    /*display: flex;
    align-items: center;
    flex-direction: column;*/
    transition: 0.2s;
    overflow: hidden;
    cursor: pointer;
}
#butbar, #editbutbar {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    padding-right: 1.5em;
    width: 100%
}
.cbin {
    appearance: none;
    border: none;
    margin: 0;
    width: inherit;
    font: inherit;
    text-align: center;
    background: none;
    color: var(--accent1);
    display: none;
    padding: 0;
}
.cbin:focus {
    outline: none;
}
.extendable {
    /*margin: 3vh 0 0 3vh;*/
}
.cbcon {
    display: flex;
    border: none;
    font: inherit;
    font-size: 2vh;
    height: var(--cb-size);
    align-items: center;
    justify-content: center;
    margin: 0;
}
.cbconbut {
    height: var(--cb-size);
    width: var(--cb-size);
    display: none;
    position: absolute;
}
.cbexa {
    width: var(--cb-size);
    height: 2.5vh;
    align-content: center;
    font-size: 0.7em;
    display: none;
}
.cbrangediv {
    height: var(--cbrange-len);
    width: var(--cb-size);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cbrange {
    border-radius: calc(0.5*var(--cbrange-fat));
    transform: rotate(270deg);
    width: var(--cbrange-len);
    min-width: var(--cbrange-len);

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        & {
            overflow: hidden;
            height: var(--cbrange-fat);
            -webkit-appearance: none;
            background-color: var(--base1);
        }
        &::-webkit-slider-runnable-track {
            height: var(--cbrange-fat);
            -webkit-appearance: none;
            transition: box-shadow 0.2s ease-in-out;
        }
        &::-webkit-slider-thumb {
            transform: translate(0, calc(-50% + calc(0.5 * var(--cbrange-fat))));
            width: var(--cbrange-fat);
            -webkit-appearance: none;
            height: var(--cbrange-fat);
            /*cursor: ew-resize;*/
            background: var(--accent1);
            box-shadow: calc(-0.5 * var(--cbrange-len)) 0 0 calc((var(--cbrange-len) * 0.5) - (var(--cbrange-fat) * 0.5)) var(--accent2);
            border-radius: calc(0.5 * var(--cbrange-fat));
            transition: box-shadow 0.2s ease-in-out;
            position: relative;
        }
    }
    &::-moz-range-progress {
        background-color: var(--accent2);
    }
    &::-moz-range-track {
        background-color: var(--base1);
    }
    &::-ms-fill-lower {
        background-color: var(--accent2);
    }
    &::-ms-fill-upper {
        background-color: var(--base1);
    }
}
#autoscrollbut:hover, #autoscrollbut.touch-active {
    .cbcon {
        display: none;
    }
    .cbin {
        display: block;
    }
}
.chordbutton:hover, .chordbutton.touch-active {
    .cbconbut, .cbexa {
        display: block;
    }
}
#darkmodebut:hover, #darkmodebut.touch-active {
    height: 13.25vh; /*6.5vh def + 2*2.5vh cbexa + 1.75vh lower bar */
}
#genzoombut:hover, #genzoombut.touch-active {
    height: calc((var(--cb-size) * 1.5) + var(--cbrange-len) - (var(--cbrange-fat) * 0.5)); /*6.5vh def + 15vh range + 3.25vh lower bar*/
    .cbin {
        display: block;
    }
}
#genscrollbut:hover, #genscrollbut.touch-active {
    height: calc((var(--cb-size) * 1.5) + var(--cbrange-len) - (var(--cbrange-fat) * 0.5)); /*6.5vh def + 15vh range + 3.25vh lower bar*/
    .cbin {
        display: block;
    }
}

/*remove the annoying wheel buttons at number inputs*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
/*EDIT-SCREEN*/
#editScreen {
    height: 100vh;
    width: 100vw;
    background: var(--backlayer);
    left: 100vw;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.6s;
    /*display: none;*/
}

#editor {
    margin-top: calc(var(--cb-size) + 6vh);
    padding: 0 5vw;
}

#ehead {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    label {
        font-family: Raleway, sans-serif;
        color: var(--font);

        input[type=text] {
            width: 100%;
            color: var(--accent1);
            font-family: "Azeret Mono", monospace;
            background-color: var(--base2);
            border-radius: 2px;
        }
        input[type=number] {
            width: 1.5em;
            font-family: "Azeret Mono", monospace;
            text-align: center;
            color: var(--accent1);
            background-color: var(--base2);
            border-radius: 2px;
        }
    }
}

#equicknotes {
    background-color: var(--backlayer);
    position: sticky;
    top: 3vh;
    right: 3vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 0.8;
    float: right;
    z-index: 100;

    label {
        font-family: Raleway, sans-serif;
        color: var(--font);
        padding: 4px;

        input[type=text] {
            width: calc(var(--cb-size) * 0.7);
            color: var(--accent1);
            font-family: "Azeret Mono", monospace;
            background-color: var(--base2);
            border-radius: 2px;
            margin-left: 4px;
        }
    }
}

#ebody {
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.vstack {
    display: flex;
    flex-direction: column;
}

.buttonvstack {
    height: calc(var(--cb-size) * 3 + 12vh); /* #buttons + 3vh*(#buttons+1)*/
}

.textvstack {
    gap: 1.5vh;
    width: 100%;
}

.ebptitle, .ebpcontent {
    background: var(--base2);
    /*border: 1px solid var(--font);*/
    color: var(--font);
    font-family: "Azeret Mono", monospace;
    border-radius: 2px;
    width: 90%;
    padding: 4px;
}

.hstack {
    display: flex;
    flex-direction: row;
    gap: 3vh;
    align-items: center;
}

/*DENIED-SCREEN*/
.bigbox {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerbox {
    width: 80vw;
    margin: 10vw;
    h4 {
        margin: 0;
        padding-bottom: 5vw;
    }
}
#loginform {
}
#loginfield {
    scale: 1.5;
    height: 2em;
    -webkit-appearance: none;
    max-width: 40vw;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 4px;
    transition: 0.15s;
    appearance: none;
    border-radius: 0;
    border: none;
    border-bottom: 0.5px solid var(--font);
    background: none;
}
#loginfield:focus {
    outline: none;
    border-bottom: 2px solid var(--accent1);
}