:root {
    --dev1: #F44;
    --dev2: #4F4;
    --dev3: #44F;
    --backlayer: #111;
    --backlayertrans: rgba(17, 17, 17, 0.7);
    --font: #FFFFFF;
    --accent1: #9dd4fa;
    --accent2: #4281b6;
    --boxshadow: rgba(255, 255, 255, 0.3);
    --base1: #323232;
}